<!-- This will be the page a teacher can visit to see all their reminders and add/edit/delete reminders. -->

<div ng-controller="RemindersController as reminders">

    <div class="jumbotron text-center">
        <h1>Reminders Page</h1>
        <p>{{ reminders.message }}</p>
    </div>

    <h2>Class Reminders</h2>

    <!-- Search for reminders in the list -->
    <input type="text" ng-model="remindersList.search" class="search-query" id="reminders_search" placeholder="Search">

    <!-- form to add reminder to the list -->
    <form class="form-inline" ng-submit="reminders.addReminder()">

      <input type="date" class="form-control" placeholder="" ng-model="reminders.reminderData.date">
      <input type=“text" class="form-control" placeholder="Big Todo" ng-model="reminders.reminderData.eventName">
      <input type="Array" class="form-control" placeholder="Emily, J, Nate Dog" ng-model="reminders.reminderData.studentNames">
      <input type=“text" class="form-control" placeholder="Big Note" ng-model="reminders.reminderData.note">

      <button type="submit" class="btn btn-success">Add</button>
    </form>


    <!-- display the list of reminders using ng-repeat -->
    <table class="table table-bordered">
      <thead>
        <tr>
          <td>Date</td>
          <td>Event Name</td>
          <td>Student Names</td>
          <td>Note</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="reminder in reminders.reminders | filter:remindersList.search | orderBy:'date'">
          <td>{{ reminder.date }}</td>
          <td>{{ reminder.eventName }}</td>
          <td>{{ reminder.studentNames }}</td>
          <td>{{ reminder.note }}</td>
        </tr>
      </tbody>
    </table>

      <!-- <input type="text" ng-model="remindersList.search" class="search-query" id="reminders_search"
             placeholder="Search">
      <span>{{remindersList.remaining()}} of {{remindersList.reminders.length}} remaining</span>
      [ <a href="" ng-click="remindersList.archive()">archive</a> ]
      <ul class="unstyled">
        <li ng-repeat="reminder in remindersList.reminders | filter:remindersList.search | orderBy:'name'">
          <label class="checkbox">
            <input type="checkbox" ng-model="reminder.done">
            <span class="done-{{reminder.done}}">
              <ul>
                <li>Text: {{reminder.text}}</li>
                <li>Date: {{reminder.date}}</li>
                <li>Event Name: {{reminder.eventName}}</li>
                <li>Students: {{reminder.studentNames}}</li>
                <li>Note: {{reminder.note}}</li>
              </ul>
            </span>
          </label>
        </li>
      </ul>
      <form ng-submit="remindersList.addReminder()">
        <input type="text" ng-model="remindersList.reminderText"  size="30"
               placeholder="add new reminder here">
        <input class="btn-primary" type="submit" value="add">
      </form> -->
</div>
