html {
  overflow-y: scroll;
}

body {
  padding-top: 50px;
  padding-bottom: 100px;
}

header .navbar {
  border-radius: 0;
}

main {
  padding-top: 30px;
}

.hero-unit {
   background: url('../img/meditatingLaptopWoman.jpg');
   background-size: cover;
   padding: 0px;
   margin L.C             : 0px;
   font-size: 18px;
   font-weight: 200;
   line-height: 30px;
   text-align: center;
   webkit-border-radius: 0px;
   moz-border-radius: 0px;
   border-radius: 0px;
}

.welcome {
  padding: 0px;
  border: 0px;
  margin: 0px;
}

/* Completed reminders */
.done-true {
  text-decoration: line-through;
  color: grey;
}

ul {
  list-style: none;
}

/* Animation */
.spinner {
  animation: spin 1s infinite;
  -webkit-animation: spin 1s infinite;
  -moz-animation:spin 1s infinite;
}

@keyframes spin {
  from  { transform: rotate(0deg); }
  to    { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  from  { -webkit-transform: rotate(0deg); }
  to    { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
  from  { -moz-transform: rotate(0deg); }
  to    { -moz-transform: rotate(360deg); }
}
